@charset "utf-8";

@keyframes rotate{
    0%{transform:rotate(0);}
    100%{transform:rotate(360deg);}
}

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@font-face {
    font-family: 'Cafe24Danjunghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Impact';
    src: url('../font/Impact.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin:0;
    padding:0;
}

a{
    text-decoration:none;
    color:inherit;
}
ul{
    list-style:none;
}

html{
    overflow-x: hidden;
}

body{
    min-width: 1350px;
    font-family: 'NanumSquare';
    font-size: 15px;
    line-height:25px;
    color:#000;
    overflow-x: hidden;
}
.clearfix::after{
    content:"";
    display: block;
    clear:both;
}

/*main*/
#main{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

header{
    margin: 0 auto;
    border-bottom: 2px solid #e83828;
}

#header_inner{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
}

#header_inner ul{
    display: flex;
}

#header_inner .link li{
    display: block;
    margin-right: 150px;
}

#header_inner .link li a{
    color: white;
    font-size: 20px;
}

#header_inner .nav li{
    display: block;
    margin-left: 10px;
}

#header_inner .link li a:hover{
    color: #e83828;
}


#header_inner .nav li:hover{
    transform:translateY(-10px);
    transition:all 0.5s;
}

#header_inner .link li .on{
    color: #e83828;
}

/*main_banner*/

#main_banner{
    background: url(../images/amb.jpg) no-repeat top center fixed;
    width: 100%;
    height: 900px;
    position: relative;
}

#main_banner>h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Impact';
    letter-spacing: 10px;
    color: white;
    font-size: 70px;
    font-weight: 500;
    padding: 0 0;
}

/*about*/
#about{
    width: 1320px;
    margin: 0 auto;
    margin-top: 150px;
}

#about ul{
    display: flex;
    justify-content:center
}

#about ul .text{
    padding-top: 180px;
    padding-left: 50px;
}

#about ul .text>p{
    padding-top: 25px;
}

#about ul .text>h2{
    font-family: 'Impact';
    line-height: 30px;
    color: #e83828;
    font-size: 30px;
    font-weight: 500;
}

/*story*/
#story{
    width: 1320px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
}

#story ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

#story ul li img{
    padding-bottom: 20px;
}

#story ul li:nth-child(2){
    padding: 0 35px;
}

#story ul li:nth-child(3){
    margin-bottom: 25px;
    padding: 0 35px;
}

#story ul li h2{
    font-weight: bold;
}

#story ul li p{
    padding-top: 15px;
}

h1{
    text-align: center;
    font-family: 'Impact';
    line-height: 30px;
    color: #e83828;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 100px;
}

/*bi*/
#bi{
    margin: 0 auto;
    background:#2d2d43;
    margin-top: 150px;
    padding-top: 150px;
    text-align: center;
}

#bi ul{
    width: 1320px;
    margin: 0 auto;
}

#bi ul li{
    padding-bottom: 150px;
}

#bi ul li h3{
    color: white;
    font-size: 25px;
    padding-bottom: 30px;
}

#bi ul li p{
    color: white;
}

.one p{
    padding-top: 30px;
}

.two p, .three p{
    padding-bottom: 30px;
}

/*map*/
#map{
    background: url(../images/company.jpg) no-repeat;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 130px;
}

#map>ul{
    width: 1320px;
    margin: 0 auto;
    justify-content:space-between
}

#map ul{
    display: flex;
}

#map>ul>li>iframe {
    width: 770px;
    height: 465px;
}

#map>ul>li>h2{
    font-family: 'Impact';
    line-height: 30px;
    color: #e83828;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 25px;
    padding-top: 80px;
}

#map b{
    padding-left: 10px;
}

.size{
    font-size: 20px;
    padding-bottom: 25px;
}

.padding{
    padding-top: 25px;
}

/*banner*/
#banner{
    background: url(../images/asb.jpg) no-repeat center center fixed;
    margin: 0 auto;
    position: relative;
    height: 433px;
}

#banner h2{
    font-family: 'Cafe24Ssurround';
    font-size: 40px;
    color: #e83828;
    text-align: center;
    padding-top: 240px;
}
/*footer*/
footer{
    background-color: #2d2d43;
    padding: 30px 0;
    margin: 0 auto;
}

#footer_inner{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#footer_inner .logo{
    padding-top: 80px;
}

#footer_inner .text li{
    color: white;
}

#footer_inner .text li>ul{
    display: flex;
    justify-content:center;
    padding-top: 60px;
}

#footer_inner .sns{
    display: flex;
}

#footer_inner .sns li{
    display: inline-block;
    padding-right: 10px;
}

#footer_inner .sns li:hover{
    transform:translateY(-10px);
    transition:all 0.5s;
}