@charset "utf-8";

@keyframes rotate{
    0%{transform:rotate(0);}
    100%{transform:rotate(360deg);}
}

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@font-face {
    font-family: 'Cafe24Danjunghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Impact';
    src: url('../font/Impact.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin:0;
    padding:0;
}

a{
    text-decoration:none;
    color:inherit;
}
ul{
    list-style:none;
}

html{
    overflow-x: hidden;
}

body{
    min-width: 1350px;
    font-family: 'NanumSquare';
    font-size: 15px;
    line-height:25px;
    color:#000;
    overflow-x: hidden;
}
.clearfix::after{
    content:"";
    display: block;
    clear:both;
}

/*main*/
#main{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

header{
    margin: 0 auto;
    border-bottom: 2px solid #e83828;
}

#header_inner{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
}

#header_inner ul{
    display: flex;
}

#header_inner .link li{
    display: block;
    margin-right: 150px;
}

#header_inner .link li a{
    color: white;
    font-size: 20px;
}

#header_inner .nav li{
    display: block;
    margin-left: 10px;
}

#header_inner .link li a:hover{
    color: #e83828;
}


#header_inner .nav li:hover{
    transform:translateY(-10px);
    transition:all 0.5s;
}

#header_inner .link li .on{
    color: #e83828;
}

/*main_banner*/

#main_banner{
    background: url(../images/cmb.jpg) no-repeat top center fixed;
    height: 900px;
    position: relative;
}

#main_banner>h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Impact';
    letter-spacing: 10px;
    color: white;
    font-size: 70px;
    font-weight: 500;
}

/*NOTICE*/

#NOTICE{
    width: 1320px;
    margin: 0 auto;
    padding-top: 150px;
}

h1{
    font-family: 'Impact';
    color: #e83828;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}


.search{
    background-color:white;
    border:1px #CCC solid;
    outline-style: none;
    padding:8px;
    padding-left:30px;
    border-radius: 15px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    float: right;
    margin-top: 50px;
    margin-bottom: 20px;
}

.table{
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    margin-top: 100px;
    clear: both;
}

.table>li>ul{
    display: flex;
    text-align: left;
    min-width:40px;
    align-items: center;
    border-bottom: 1px solid #CCC;
}

.table>li>ul>li{
    font-size:10pt;
    padding: 30px 50px;
}

.table>li>ul>li>a>b{
    font-size: 20px;
}

.table>li>ul:nth-child(6){
    border: none;
}


.table > li > ul > li:first-child                {width:5%;}
.table > li > ul > li:first-child + li           {width:70%;} 

.Page{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 200px;
}

.Page>a{
    color: white;
    padding: 5px 10px;
    background-color: #e83828;
}

/*AS*/
#AS{
    width: 1320px;
    margin: 0 auto;
}

.list1{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.list1>li>p{
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

.list2{
    padding-top: 50px;
    margin-bottom: 200px;
}

.list2>h2{
    padding-bottom: 20px;
}

/*inquiry*/

#inquiry_inner{
    margin-top: 50px;
    background: url(../images/inquiry_bg.jpg) no-repeat center center;
    background-size: cover;
    height: 1072px;
}

form{
    padding-top: 100px;
}

form>ul{
    width: 1320px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.9);
    box-sizing: border-box;
    padding: 10px 100px 30px 100px;
    position: relative;
}

label{
    color:#e83828 ;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 10px;
}

#inquiry_inner input{
    width: 500px;
    height: 30px;
    padding: 5px;
    border-radius: 30px 30px 30px 30px;
    border: 1px #CCC solid;
}

textarea{
    width: 1100px;
    height: 300px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px #CCC solid;
}

select{
    width: 515px;
    height: 50px;
    padding: 5px;
    border-radius: 30px 30px 30px 30px;
    border: 1px #CCC solid;
}

#category{
    color: gray;
}

form>ul>li>ul>li:nth-child(1){
    padding-top: 50px;
}

form>ul>li>ul:nth-child(2){
    float: right;
}

form>ul>li>ul:nth-child(5){
    float: right;
    position: absolute;
    top: 264px;
    right: 100px;
}

form>ul>li:nth-child(2){
    text-align: center;
    padding-top: 30px;
}

.button{
    text-align: center;
    display: inline-block;
    padding: 10px 100px;
    background-color: #c2c0c0;
    color: #434343;
}

.button:hover{
    background-color: #e83828;
    color: white;
}

/*footer*/
footer{
    background-color: #2d2d43;
    padding: 30px 0;
    margin: 0 auto;
}

#footer_inner{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#footer_inner .logo{
    padding-top: 80px;
}

#footer_inner .text li{
    color: white;
}

#footer_inner .text li>ul{
    display: flex;
    justify-content:center;
    padding-top: 60px;
}

#footer_inner .sns{
    display: flex;
}

#footer_inner .sns li{
    display: inline-block;
    padding-right: 10px;
}

#footer_inner .sns li:hover{
    transform:translateY(-10px);
    transition:all 0.5s;
}